h1 {
	text-align: center;
}

body {
	padding: 0 1em;
}

nav a {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid green;
}

nav .active {
	background: #ffff00;
	font-weight: bold;
	font-style: italic;
}

.recipe-preview {
	position: relative;
	padding-left: 1em;
	border: 1px solid #666;
	border-radius: 10px;
}

.recipe-header {
	padding-top: 10px;
}

.recipe-image {
	display: inline-block;
    width: 100px;
    top: 10px;
    left: 0px;
}

.recipe-title {
    display: inline-block;
    width: calc(100% - 140px);
	margin-left: 10px;
}
