* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	position: relative;
	min-height: 100vh;
	/*background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(https://scontent-atl3-1.cdninstagram.com/vp/eb60bba2d3bd7a0147a2251923efc1d4/5B425833/t51.2885-15/s750x750/sh0.08/e35/23970161_392715597829783_1256503364028465152_n.jpg) no-repeat;*/
	/*background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)), url(https://scontent-atl3-1.cdninstagram.com/vp/a205bf4243cf2cb368786cf706332afe/5B314A13/t51.2885-15/e35/23823660_1637413389643823_2318266511355019264_n.jpg) no-repeat;*/
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9)), url(https://scontent-atl3-1.cdninstagram.com/vp/767f6dbc817a46c80af7a3fb0f616a3b/5B4E289E/t51.2885-15/s640x640/sh0.08/e35/28435061_222303715002598_7308034068443037696_n.jpg) no-repeat;
	background-position: center top;
	background-size: cover;
	padding-bottom: 3em;
}

.nav-container {
	position: relative;
	height: 3em;
	background: rgba(255,255,255,0.75);
}

.nav-container h1 {
	position: relative;
	display: inline-block;
	top: 50%;
	padding-left: 1em;
	font-size: 18px;
	font-weight: bold;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

.nav-container nav {
	position: absolute;	
	height: 100%;
	top: 0;
	right: 0;
	padding: 0 1em;
	text-align: right;
}

@media screen and (max-width: 768px) {
	.nav-container {
		height: 80px;
	}

	.nav-container h1 {
		display: block;
		top: 10px;
		text-align: center;
		-webkit-transform: translate(0,0);
		-moz-transform: translate(0,0);
		transform: translate(0,0);
	}

	.nav-container nav {
		position: relative;
		top: 10px;
		height: 40px;
		padding: 0;
	}
}

.nav-container nav a {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100%;
	margin-right: 10px;
	border-bottom: 3px solid #ccc;
    text-align: left;
    color: #666;
}

.nav-container nav a:hover,
.nav-container nav .active {
	border-bottom: 3px solid #666;
	font-weight: bold;
}

.nav-container nav .active {
	color: #000;
	text-transform: uppercase;
}

.nav-container nav a span {
	position: absolute;
	width: 100%;
	top: 50%;
	text-align: center;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

.main-content {
	padding: 1em;
}

header {
	text-align: center;
}

.form-group label.control-label {
	font-weight: bold;
}

.form-control {
	box-shadow: -1px 1px 3px #999 inset;
}

.form-control::placeholder {
	color: #ccc;
	opacity: 0.75;
}

.form-control.error {
	border: 2px solid #ff0000;
}

.form-group.submit {
	text-align: center;
}

.recipe-preview {
	position: relative;
	display: block;
	height: 122px;
	border: 1px solid #666;
	border-radius: 10px;
	margin-bottom: 15px;
	padding-left: 1em;
	background: #fff;
	box-shadow: 5px 5px 10px #ccc;
    color: inherit;
    overflow: hidden;
    -webkit-transition: box-shadow 400ms;
    -moz-transition: box-shadow 400ms;
    transition: box-shadow 400ms;
}

.recipe-preview:hover {
    box-shadow: 0 0 15px #007bff;
    border: 1px solid #007bff;
}

.recipe-header {
	height: 100%;
	padding: 10px 0;
}

.recipe-image {
    position: absolute;
	display: inline-block;
    width: 100px;
    height: 100px;
    top: 10px;
    left: 10px;
}

.recipe-image img {
	display: block;
	position: absolute;
	width: 100%;
	height: auto;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

.recipe-title {
    position: relative;
    display: inline-block;
    width: calc(100% - 140px);
    left: 110px;
}

.recipe-link {
	display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.recipe-info img {
	display: block;
    max-width: 90%;
    max-height: 250px;
    margin: 20px auto;
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #666;
}

.recipe-info ul,
.recipe-info ol {
	margin-left: 40px;
}

footer {
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: -80px;
	background: #fff;
}

footer > div {
	position: absolute;
	width: 100%;
	top: 50%;
	text-align: center;	
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

footer p {
	padding: 5px 0;
	margin: 0;
}

@media screen and (max-width: 768px) {
	footer > div {
		padding-left: 3em;
		padding-right: 3em;
	}
}
