* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Patrick Hand', sans-serif;
	letter-spacing: 1px;
}

body {
	/*background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(https://scontent-atl3-1.cdninstagram.com/vp/eb60bba2d3bd7a0147a2251923efc1d4/5B425833/t51.2885-15/s750x750/sh0.08/e35/23970161_392715597829783_1256503364028465152_n.jpg) no-repeat;*/
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(https://scontent-atl3-1.cdninstagram.com/vp/a205bf4243cf2cb368786cf706332afe/5B314A13/t51.2885-15/e35/23823660_1637413389643823_2318266511355019264_n.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
	font-size: 20px;
}

.nav-container nav {
	height: 3em;
	background: rgba(255,255,255,0.75);
	padding: 0 1em;
	text-align: right;
}

.nav-container nav a {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100%;
	margin-right: 10px;
	border-bottom: 3px solid #ccc;
    text-align: left;
    color: #666;
}

.nav-container nav a:hover,
.nav-container nav .active {
	border-bottom: 3px solid #666;
	font-weight: bold;
}

.nav-container nav .active {
	color: #000;
	text-transform: uppercase;
}

.nav-container nav a span {
	position: absolute;
	width: 100%;
	top: 50%;
	text-align: center;
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%);
	transform: translate(0,-50%);
}

.main-content {
	padding: 0 1em;
}

header {
	text-align: center;
}

.form-group label.control-label {
	font-weight: bold;
}

.form-control {
	letter-spacing: 0.1em;
}

.form-group.submit {
	text-align: center;
}

.recipe-preview {
	position: relative;
	padding-left: 1em;
	border: 1px solid #666;
	border-radius: 10px;
	margin-bottom: 15px;
	background: rgba(255,255,255,0.9);
	box-shadow: 5px 5px 10px #ccc;
    -webkit-transition: box-shadow 400ms;
    -moz-transition: box-shadow 400ms;
    transition: box-shadow 400ms;
    cursor: pointer;
}

.recipe-preview:hover {
    box-shadow: 0 0 15px #007bff;
    border: 1px solid #007bff;
}

.recipe-header {
	padding-top: 10px;
}

.recipe-image {
	display: inline-block;
    width: 100px;
    top: 10px;
    left: 0px;
}

.recipe-title {
    display: inline-block;
    width: calc(100% - 140px);
	margin-left: 10px;
}

.recipe-info {
	padding-left: 1em;
}
